.Category {
    height: 250px;

    &-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 24px;
        gap: 4px;
    }

    &-text {
        font-size: 18px;
        font-family: $fontRealwayBold;
        color: $white;
        line-height: 24px;
    }

    &-image {
        vertical-align: revert;
    }

    &-icon {
        color: $white;
        width: 24px;
        height: 24px;
    }

    @include media-breakpoint-up(md) { 
        background-size: cover;
    }

    @include media-breakpoint-up(lg) {
        &-image {
           width: 220px;
           height: 278px;
        }

        &-text {
            line-height: 30px;
            font-size: 24px;
        }

        &-cover {
            background-size: cover;
        }
        }
        
}
