.Categories {
    align-items: center;
    background-color: $pink;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 661px;
    justify-content: center;

    &-title {
        color: $white;
        font-family: $fontNotoSelf;
        font-size: 24px;
        height: auto;
        line-height: 30px;
        text-align: center;
        width: 328px;
    }

    &-content {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
    }

    @include media-breakpoint-up(lg) {
    &-title {
        margin-bottom: 40px;
    }

    &-content {
        gap: 24px;
    }
    }


}


@include media-breakpoint-up(lg) {
    .Categories {
        padding-bottom: 40px;
    }
}



