.Gallery {
    background-color: $pink;
    padding-bottom: 48px;

    &-content {
        width: 100%;
        text-align: center;
    }

    &-image {
        height: 328px;
        width: 328px;
    }

    @include media-breakpoint-up(md) {
        &-image {
            height: auto;
            width: 653px;
        }
    }


    @include media-breakpoint-up(lg) {
        &-image {
            width: 950px;
        }
    }
}
