.Gallery {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: $pink;
    height: auto;

    &-content {
        height: 328px;
        width: 328px;
    }

    &-image {
        height: 328px;
        width: 328px;
    }

    @include media-breakpoint-up(lg) {
        &-content {
            width: 1440px;
            height: 808px;
            display: flex;
        }

        &-image {
            height: 100%;
            width: 100%;
            max-width: 952px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
