.Sticky {
    background-color: $pink;
    display: flex;
    height: 300px;
    justify-content: center;
    text-align: center;

    &-text {
        color: $green;
        font-family: $fontRaleway;
        font-size: 11px;
        height: auto;
        width: 187px;
    }

    &-main {
        align-items: center;
        background-color: $white;
        border-radius: 4px;
        display: flex;
        height: 58px;
        justify-content: center;
        width: 328px;
    }

    &-content {
        align-items: center;
        display: flex;
        gap: 6px;
        height: 38px;
        justify-content: center;
        width: 296px;
    }

    &-button {
        align-items: center;
        background-color: $red;
        border-radius: 2px;
        color: $white;
        display: flex;
        font-family: $fontHKGroteskBold;
        height: 38px;
        justify-content: center;
        text-decoration: none;
        width: 103px;
    }

    &-variant {
        font-family: $fontRealwayBold;
    }

    @include media-breakpoint-up(md) {
        &-main {
            height: 88px;
            width: 530px;
        }

        &-text {
            width: 300px;
        }

        &-content {
            height: 38px;
            width: 563px;
        }

        &-button {
            height: 38px;
            width: 110px;
        }
    }


    @include media-breakpoint-up(lg) {
        &-main {
            height: 88px;
            width: 707px;
        }

        &-text {
            width: 400px;
        }

        &-content {
            height: 40px;
            width: 563px;
        }

        &-button {
            height: 40px;
            width: 130px;
        }
    }
}
