.Card {
    background-color: $text-black;
    border: 2px solid $hard-red;
    border-radius: 8px;
    color: $text-white;
    height: auto;
    margin: 10px;
    width: 278px;


    &-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &-title {
        margin-top: 20px;
    }

    &-img {
        border: 2px solid $text-white;
        border-radius: 8px;
    }

    &-img:hover {
        transform: scale(1.1);
    }

    &-inside {
        margin: 10px;
    }

    &-text {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}
