.Tabs {
    &-box {
        display: flex;
    }

    &-list {
        &-container {
            margin-top: 60px;
            margin-bottom: 60px;
        }
    }

    &-tab {
        align-items: center;
        background-color: $cozy-red;
        border: 2px solid $text-black;
        color: $text-white;
        cursor: pointer;
        display: flex;
        font-size: 20px;
        font-weight: 500;
        height: 41px;
        justify-content: center;
        width: 135px;

        &-border {
            border-radius: 0 0 10px 0;
        }
    }

    &-content {
        border-radius: 8px;
        display: flex;
        justify-content: center;
        margin: 30px;
    }

    &-container {
        background-color: $text-black;
        border-radius: 8px;
        display: flex;
        height: 500px;
        margin-bottom: 60px;
        width: 83%;
    }

    &-main {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    &-paragraph {
        color: $text-white;
        font-family: $font-family-primary;
        font-size: 20px;
        font-weight: 400;
        height: auto;
        overflow-y: scroll;
        padding: 20px;
        width: 50%;
    }

    &-img {
        height: 100%;
        width: 100%;

        &-container {
            margin: 20px;
            width: 70%;
        }
    }

    &-active {
        background-color: $hard-red;
        color: $text-white;
    }
}
