$pink: rgb(255, 140, 151);
$cosyPink: rgb(251, 125, 137);
$white: rgb(253, 254, 254);
$cozyRed: rgb(255, 71, 71);
$back: rgb(23, 32, 42);
$red: rgb(255, 71, 71);
$green: rgb(118, 118, 118);
$fontNotoSelf: "Denike Regular";
$fontRaleway: "Raleway Regular";
$fontRealwayBold: "Raleway Bold";
$fontRalewayExtraBold: "Raleway ExtraBold";
$cover: url(/head-img-x2.jpg);
